//
//  sample.secret.xcconfig
//  Weather
//
//  Created by Sajan Kushwaha on 2/5/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Use "https:/$()/abc.com/" format for https://
API_BASE_URL =
WEATHER_API_KEY =
